## Importing libraries

In [1]:
import numpy as np
import pandas as pd

 ## Importing Data

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

## Data Preprocessing

In [5]:
movie = movies.merge(credits,             # merging two data frames
                   on = 'title', 
                   how = 'inner')
movie

,budget_x,genres_x,homepage_x,id_x,keywords_x,original_language_x,original_title_x,overview_x,popularity_x,production_companies_x,...,production_companies_y,production_countries_y,release_date_y,revenue_y,runtime_y,spoken_languages_y,status_y,tagline_y,vote_average_y,vote_count_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",6.6,238
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,5.9,5
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,7.0,6
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,5.7,7
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,6.3,16

In [6]:
movies.shape

(4803, 20)

In [7]:
credits.shape

(4803, 20)

In [8]:
movie.shape # checking row and column of data frame

(4809, 39)

In [9]:
movie.head(1)

,budget_x,genres_x,homepage_x,id_x,keywords_x,original_language_x,original_title_x,overview_x,popularity_x,production_companies_x,...,production_companies_y,production_countries_y,release_date_y,revenue_y,runtime_y,spoken_languages_y,status_y,tagline_y,vote_average_y,vote_count_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800

In [10]:
print(movie.columns.tolist())  # all columns of data frame

['budget_x', 'genres_x', 'homepage_x', 'id_x', 'keywords_x', 'original_language_x', 'original_title_x', 'overview_x', 'popularity_x', 'production_companies_x', 'production_countries_x', 'release_date_x', 'revenue_x', 'runtime_x', 'spoken_languages_x', 'status_x', 'tagline_x', 'title', 'vote_average_x', 'vote_count_x', 'budget_y', 'genres_y', 'homepage_y', 'id_y', 'keywords_y', 'original_language_y', 'original_title_y', 'overview_y', 'popularity_y', 'production_companies_y', 'production_countries_y', 'release_date_y', 'revenue_y', 'runtime_y', 'spoken_languages_y', 'status_y', 'tagline_y', 'vote_average_y', 'vote_count_y']

In [11]:
# movie['tagline_y'].tolist() # it is use to  access particular column in data frame

In [12]:
# movie['keywords_y'].tolist()

In [13]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   budget_x                4809 non-null   int64
 1   genres_x                4809 non-null   object
 2   homepage_x              1713 non-null   object
 3   id_x                    4809 non-null   int64
 4   keywords_x              4809 non-null   object
 5   original_language_x     4809 non-null   object
 6   original_title_x        4809 non-null   object
 7   overview_x              4806 non-null   object
 8   popularity_x            4809 non-null   float64
 9   production_companies_x  4809 non-null   object
 10  production_countries_x  4809 non-null   object
 11  release_date_x          4808 non-null   object
 12  revenue_x               4809 non-null   int64
 13  runtime_x               4807 non-null   float64
 14  spoken_languages_x      4809 non-null   object
 15  status_x                4809 non-null   object
 16  tagline_x               3965 non-null   object
 17  title                   4809 non-null   object
 18  vote_average_x          4809 non-null   float64
 19  vote_count_x            4809 non-null   int64
 20  budget_y                4809 non-null   int64
 21  genres_y                4809 non-null   object
 22  homepage_y              1713 non-null   object
 23  id_y                    4809 non-null   int64
 24  keywords_y              4809 non-null   object
 25  original_language_y     4809 non-null   object
 26  original_title_y        4809 non-null   object
 27  overview_y              4806 non-null   object
 28  popularity_y            4809 non-null   float64
 29  production_companies_y  4809 non-null   object
 30  production_countries_y  4809 non-null   object
 31  release_date_y          4808 non-null   object
 32  revenue_y               4809 non-null   int64
 33  runtime_y               4807 non-null   float64
 34  spoken_languages_y      4809 non-null   object
 35  status_y                4809 non-null   object
 36  tagline_y               3965 non-null   object
 37  vote_average_y          4809 non-null   float64
 38  vote_count_y            4809 non-null   int64
dtypes: float64(6), int64(8), object(25)
memory usage: 1.5+ MB

In [14]:
#important columns
#genres_x
#keywords_x
#orignal_title_x
#overview_x
#production_companies_y
movies = movie[['id_x','genres_x','original_title_x','overview_x','keywords_y','production_companies_y']]

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_x                    4809 non-null   int64
 1   genres_x                4809 non-null   object
 2   original_title_x        4809 non-null   object
 3   overview_x              4806 non-null   object
 4   keywords_y              4809 non-null   object
 5   production_companies_y  4809 non-null   object
dtypes: int64(1), object(5)
memory usage: 263.0+ KB

In [16]:
movies.head()

,id_x,genres_x,original_title_x,overview_x,keywords_y,production_companies_y
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"

In [17]:
movies.isnull().sum() # we have 3 null values in overview_x

id_x                      0
genres_x                  0
original_title_x          0
overview_x                3
keywords_y                0
production_companies_y    0
dtype: int64

In [18]:
movies.shape

(4809, 6)

In [19]:
movies.dropna(inplace=True) # it removes 3 null values in overview_x

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3342484702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True) #it removes 3 null values in overview_x

In [20]:
movies.duplicated().sum() # it shows no duplicate values

0

In [22]:
movies.iloc[0].production_companies_y          # iloc is use to locate any value in set,list,tuple

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

##  change format of Attributes

In [24]:
import ast   #(Abstract Syntax Tree)
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):   # the ast.literal eval function securely evaluates strings containing Python values 
        L.append(i['name'])
    return L

In [25]:
movies['genres_x'] = movies['genres_x'].apply(convert)

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3390747380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres_x'] = movies['genres_x'].apply(convert)

In [26]:
movies.head()

,id_x,genres_x,original_title_x,overview_x,keywords_y,production_companies_y
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"

In [27]:
movies['keywords_y'] = movies['keywords_y'].apply(convert)

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3213454977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords_y'] = movies['keywords_y'].apply(convert)

In [28]:
movies['production_companies_y'] = movies['production_companies_y'].apply(convert)

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\844882697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['production_companies_y'] = movies['production_companies_y'].apply(convert)

In [29]:
movies['overview_x'] = movies['overview_x'].apply(lambda x:x.split())

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\2692669924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview_x'] = movies['overview_x'].apply(lambda x:x.split())

In [30]:
movies.head()

,id_x,genres_x,original_title_x,overview_x,keywords_y,production_companies_y
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Columbia Pictures, Danjaq, B24]"
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Legendary Pictures, Warner Bros., DC Entertai..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...",[Walt Disney Pictures]

In [31]:
movies.iloc[0].keywords_y

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

### Transformation applied to remove space in one name

In [32]:
movies['genres_x'] = movies['genres_x'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\2094833983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres_x'] = movies['genres_x'].apply(lambda x:[i.replace(" ","") for i in x])

In [33]:
movies['overview_x'] = movies['overview_x'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords_y'] = movies['keywords_y'].apply(lambda x:[i.replace(" ","") for i in x])
movies['production_companies_y'] = movies['production_companies_y'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\1459959917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview_x'] = movies['overview_x'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\1459959917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords_y'] = movies['keywords_y'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\1459959917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['production_companies_y'] = movies['production_companies_y'].apply(lambda x:[i.replace(" ","") for i in x])

#  Tags

In [34]:
movies['tags'] = movies['genres_x']+ movies['overview_x'] + movies['keywords_y'] + movies['production_companies_y']

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3439867864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genres_x']+ movies['overview_x'] + movies['keywords_y'] + movies['production_companies_y']

In [35]:
new_df = movies[['id_x','original_title_x','tags']]

In [36]:
new_df['tags'][0]

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'IngeniousFilmPartners',
 'TwentiethCenturyFoxFilmCorporation',
 'DuneEntertainment',
 'LightstormEntertainment']

In [37]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [38]:
new_df.head()

,id_x,original_title_x,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction In the...
1,285,Pirates of the Caribbean: At World's End,"Adventure Fantasy Action Captain Barbossa, lon..."
2,206647,Spectre,Action Adventure Crime A cryptic message from ...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller Following the deat...
4,49529,John Carter,Action Adventure ScienceFiction John Carter is...

In [39]:
new_df.iloc[0].tags

'Action Adventure Fantasy ScienceFiction In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d IngeniousFilmPartners TwentiethCenturyFoxFilmCorporation DuneEntertainment LightstormEntertainment'

In [40]:
new_df['tags'][0]

'Action Adventure Fantasy ScienceFiction In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d IngeniousFilmPartners TwentiethCenturyFoxFilmCorporation DuneEntertainment LightstormEntertainment'

In [41]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [42]:
new_df['tags'][0]

'action adventure fantasy sciencefiction in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d ingeniousfilmpartners twentiethcenturyfoxfilmcorporation duneentertainment lightstormentertainment'

## Stemming Process

- In dimension of 5000, some words are same like action and actions have same meaning.
- so, to handle this problem we use PorterStemmer from nltk library.

In [44]:
import nltk

In [45]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [46]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [47]:
new_df['tags'] = new_df['tags'].apply(stem)  #apply() method. This function acts as a map() function in Python.
                                             #It takes a function as an input and applies this function to an entire DataFrame.

C:\Users\lohch\AppData\Local\Temp\ipykernel_18276\3551929036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)  #apply() method. This function acts as a map() function in Python.

In [48]:
ps.stem('loving')

'love'

In [49]:
ps.stem('loved')

'love'

In [50]:
new_df['tags'][0]

'action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d ingeniousfilmpartn twentiethcenturyfoxfilmcorpor duneentertain lightstormentertain'

## Text Vectorization

Text Vectorization (It is the process of converting text into numerical representation.) 
(Using technique bag of words for Text Vectorization)

In [51]:
# import CountVectorizer from sklearn to perform text vectorization

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [52]:
# The 'fit' method trains the algorithm on the training data, after the model is initialized. That's really all it does.
# So the sklearn fit method uses the training data as an input to train the machine learning model.

cv.fit_transform(new_df['tags']).toarray().shape     # 4806 movies, 5000 dimension(no. of words taken)

(4806, 5000)

In [53]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [54]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [55]:
vectors[0]  # lots of zero in output array because we take 5000 words which occur most in selected attributes....5000 
            #and numbers are only those words which are occured in first movie and how many times

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [56]:
len(cv.get_feature_names_out())

5000

## Cosine Similarity

In [57]:
# we will find cosine distance between two vectors
# cosine distance is angel between two vectors
# cosine distance is between 0 and 1
# if cosine angel is small, movie are similar
# distance inversly proportional to similarity
# In high dimensional data eucledian distance fails, hence we use cosine distance..here we are working in 5000 dimensional data

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
cosine_similarity(vectors).shape

(4806, 4806)

In [60]:
similarity = cosine_similarity(vectors)

In [61]:
similarity[0]   

# it shows similarity of 1 movie with respect to all other movies

array([1.        , 0.08492078, 0.0862796 , ..., 0.04441156, 0.        ,
       0.        ])

In [62]:
similarity[1]    # diagonal element of this matrix is always one

array([0.08492078, 1.        , 0.06350006, ..., 0.02451452, 0.        ,
       0.02727724])

In [63]:
# we need to make function....which recommend 5 similar movies to given movie
#first we need to fetch index of movie

In [64]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.31022104415577006),
 (539, 0.2830692585361489),
 (507, 0.2757233972895037),
 (778, 0.269069117598525),
 (61, 0.2614881801842454)]

## Movie Recommendation function

In [65]:
def recommend(movie):
    movie_index = new_df[new_df['original_title_x'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].original_title_x)

In [66]:
#Often, when dealing with iterators, we also get need to keep a count of iterations. 
#Python eases the programmers’ task by providing a built-in function enumerate() for this task.
#Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object.
#This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

In [67]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman v Superman: Dawn of Justice
The Dark Knight Rises
Batman

In [68]:
# iloc stands for “integer location” and is a function in the Pandas library.
#It is used to select rows and columns from a Pandas DataFrame or a Series using integer-based indexing

In [69]:
new_df.iloc[1216].original_title_x

'Aliens vs Predator: Requiem'

## Serilization Process

In [70]:
import pickle
# pickle library use for dump(serilization) and load(deserilization)
# these are two main functions of pickle library

In [71]:
pickle.dump(new_df.to_dict(),open('movies.pkl','wb'))

In [72]:
new_df['original_title_x'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [73]:
pickle.dump(similarity,open('similarity.pkl','wb'))